{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "contact@yousign.com",
      "name": "Support",
      "url": "https://yousign.com/contact"
    },
    "description": "Build the best experience of digital signature through your own platform. Increase your conversion rates, leverage your data and reduce your costs with Yousign API.",
    "license": {
      "name": "proprietary",
      "url": "https://yousign.com/terms"
    },
    "title": "Public Api v3",
    "version": "3.0"
  },
  "servers": [
    {
      "description": "Sandbox URL",
      "url": "https://api-sandbox.yousign.app/v3"
    },
    {
      "description": "Production URL",
      "url": "https://api.yousign.app/v3"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "description": "Person responsible for validating a Signature Request.",
      "name": "Approver"
    },
    {
      "description": "Set of documents generated once a Signature Request is completed.",
      "name": "Audit Trail"
    },
    {
      "description": "This resource provides tracking of the API usage.",
      "name": "Consumption"
    },
    {
      "description": "A saved profile containing some information (name, language, email address, etc.) that can be re-used to create a Signer, Approver, or Follower.",
      "name": "Contact"
    },
    {
      "description": "Allows to customize the look and feel of the signature experience.",
      "name": "Custom Experience"
    },
    {
      "description": "Document that is attached to the Signature Request.",
      "name": "Document"
    },
    {
      "description": "This resource is the digital version of the company stamp.",
      "name": "Electronic Seal"
    },
    {
      "description": "Set of documents generated once a Electronic Seal is completed.",
      "name": "Electronic Seal Audit Trail"
    },
    {
      "description": "Document that is attached to the Electronic Seal.",
      "name": "Electronic Seal Document"
    },
    {
      "description": "Set of Image which can be used in Electronic Seal.",
      "name": "Electronic Seal Image"
    },
    {
      "description": "Dynamic content that will appear on a Document.",
      "name": "Field"
    },
    {
      "description": "Person who is kept informed about the progress of the signing process without being an Approver or a Signer.",
      "name": "Follower"
    },
    {
      "description": "Extra information attached to a Signature Request.",
      "name": "Metadata"
    },
    {
      "description": "Process of inviting Signers to sign a Document.",
      "name": "Signature Request"
    },
    {
      "description": "Person who will sign a Signature Request.",
      "name": "Signer"
    },
    {
      "description": "Process of asking signers to upload specific documents during the signature process.",
      "name": "Signer Document Request"
    },
    {
      "description": "Process of asking signers to consent to specific needs during the signature process.",
      "name": "Signer Consent Request"
    },
    {
      "description": "A person who can access the Yousign web app of your organization.",
      "name": "User"
    },
    {
      "description": "The Invitation of a new User to join the Yousign organization.",
      "name": "User Invitation"
    },
    {
      "description": "Webhook subscription; enables real-time notifications about events that happen in your Yousign organization.",
      "name": "Webhook"
    },
    {
      "description": "A way to partition your Yousign organization into separate entities.",
      "name": "Workspace"
    },
    {
      "description": "Pre-configuration of all elements of a Signature Request, such as Documents, Signers, Approvers, Fields, and settings.",
      "name": "Template"
    },
    {
      "description": "A feature allowing to store and retrieve documents on Arkhineo for some customers migrated from v2",
      "name": "Archive"
    },
    {
      "description": "KYC Process of verifying the identity associated with a document.",
      "name": "Identity Verification"
    },
    {
      "description": "Operations that are in beta version, and may be changed or removed in the future.",
      "name": "Beta"
    },
    {
      "description": "Operations that are no longer recommended for use.",
      "name": "Deprecated"
    },
    {
      "description": "KYC Process of verifying the identity associated with a bank account document.",
      "name": "Bank Account Verification"
    },
    {
      "description": "KYC Process of verifying the identity associated with an Id document.",
      "name": "ID Document Verification"
    }
  ],
  "paths": {
    "/archives": {
      "post": {
        "description": "Archive a file in a secure digital safe for 10 years",
        "operationId": "post-archives",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UploadArchivedFile"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArchivedFile"
                }
              }
            },
            "description": "The upload of the archived file is successful.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "description": "Bad request",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            },
            "description": "Access unauthorized",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            },
            "description": "Access forbidden",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            },
            "description": "Resource not found",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "415": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsupportedMediaTypeResponse"
                }
              }
            },
            "description": "UnsupportedMediaType",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            },
            "description": "Too Many Requests, please try again later.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/retry-after"
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal Server Error",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          }
        },
        "summary": "Direct upload an archived file",
        "tags": [
          "Archive"
        ]
      }
    },
    "/archives/{archivedFileId}/download": {
      "get": {
        "description": "Download the archived file using the ArchivedFileId.",
        "operationId": "get-archives-archivedFileId-download",
        "parameters": [
          {
            "description": "ArchivedFileId",
            "in": "path",
            "name": "archivedFileId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/octet-stream": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              }
            },
            "description": "Download of archived file is successful",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "description": "Bad request",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            },
            "description": "Access unauthorized",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            },
            "description": "Access forbidden",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            },
            "description": "Resource not found",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            },
            "description": "Too Many Requests, please try again later.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/retry-after"
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal Server Error",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          }
        },
        "summary": "Download archived file",
        "tags": [
          "Archive"
        ]
      }
    },
    "/bank_account_verifications": {
      "get": {
        "description": "Returns the list of all Bank Account Verifications within your organization.",
        "operationId": "get-bank_account_verifications",
        "parameters": [
          {
            "description": "After cursor (pagination)",
            "in": "query",
            "name": "after",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The limit of items count to retrieve.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Filter by status",
            "in": "query",
            "name": "status",
            "schema": {
              "enum": [
                "pending",
                "approved",
                "declined",
                "inconclusive"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get_bank_account_verifications_200_response"
                }
              }
            },
            "description": "OK",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "description": "Bad request",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            },
            "description": "Access unauthorized",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            },
            "description": "Access forbidden",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            },
            "description": "Too Many Requests, please try again later.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/retry-after"
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal Server Error",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          }
        },
        "summary": "List Bank Account Verifications",
        "tags": [
          "Bank Account Verification",
          "Beta"
        ]
      },
      "post": {
        "description": "Creates a new Bank Account Verification resource.",
        "operationId": "post-bank_account_verifications",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankAccountVerification"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountVerificationCreated"
                }
              }
            },
            "description": "OK",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "description": "Bad request",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            },
            "description": "Access unauthorized",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            },
            "description": "Access forbidden",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "415": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsupportedMediaTypeResponse"
                }
              }
            },
            "description": "UnsupportedMediaType",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            },
            "description": "Too Many Requests, please try again later.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/retry-after"
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal Server Error",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          }
        },
        "summary": "Initiate a new Bank Account Verification",
        "tags": [
          "Bank Account Verification",
          "Beta"
        ]
      }
    },
    "/bank_account_verifications/{bankAccountVerificationId}": {
      "get": {
        "description": "Get the detailed results of a bank account verification.",
        "operationId": "get-bank_account_verifications-bankAccountVerificationId",
        "parameters": [
          {
            "description": "The bank account verification ID",
            "in": "path",
            "name": "bankAccountVerificationId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get_bank_account_verifications_bankAccountVerificationId_200_response"
                }
              }
            },
            "description": "OK",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "description": "Bad request",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            },
            "description": "Access unauthorized",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            },
            "description": "Access forbidden",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            },
            "description": "Resource not found",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            },
            "description": "Too Many Requests, please try again later.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/retry-after"
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal Server Error",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          }
        },
        "summary": "Retrieve a bank account verification",
        "tags": [
          "Bank Account Verification",
          "Beta"
        ]
      }
    },
    "/consumptions": {
      "get": {
        "deprecated": true,
        "description": "Get signatures Consumption by source",
        "operationId": "get-consumptions",
        "parameters": [
          {
            "description": "The \"from\" date must not be more than 1 year in the past",
            "in": "query",
            "name": "from",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DateYMD"
            }
          },
          {
            "description": "The \"to\" date must be more recent than the \"from\" date",
            "in": "query",
            "name": "to",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DateYMD"
            }
          },
          {
            "description": "The API authentication key to use to retrieve the data",
            "in": "query",
            "name": "authentication_key",
            "schema": {
              "$ref": "#/components/schemas/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Consumption"
                }
              }
            },
            "description": "OK",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "description": "Bad request",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            },
            "description": "Access unauthorized",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            },
            "description": "Access forbidden",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            },
            "description": "Resource not found",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            },
            "description": "Too Many Requests, please try again later.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/retry-after"
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal Server Error",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          }
        },
        "summary": "Get Consumptions",
        "tags": [
          "Consumption"
        ]
      }
    },
    "/consumptions/addons": {
      "get": {
        "description": "Retrieves detailed addon consumption for the current subscription period.",
        "operationId": "get-consumption-addon",
        "parameters": [
          {
            "description": "A list of add-ons to filter the results on.",
            "in": "query",
            "name": "addons",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "electronic_signature",
                  "advanced_electronic_signature",
                  "qualified_electronic_signature_identity_verification",
                  "qualified_electronic_signature_saved_identity",
                  "electronic_seal",
                  "advanced_electronic_seal",
                  "archiving"
                ],
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get_consumption_addon_200_response"
                }
              }
            },
            "description": "Return the addons consumption per addon.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "description": "Bad request",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            },
            "description": "Access unauthorized",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            },
            "description": "Access forbidden",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            },
            "description": "Resource not found",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            },
            "description": "Too Many Requests, please try again later.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/retry-after"
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal Server Error",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          }
        },
        "summary": "Get detailed addon consumption.",
        "tags": [
          "Consumption"
        ]
      }
    },
    "/consumptions/detail": {
      "get": {
        "description": "Returns the consumption of your organization over a specified period.",
        "operationId": "get-consumption-detail",
        "parameters": [
          {
            "description": "After cursor (pagination)",
            "in": "query",
            "name": "after",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The limit of items count to retrieve.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The starting date for data retrieval.",
            "in": "query",
            "name": "from",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DateYMD"
            }
          },
          {
            "description": "The end date for data retrieval. The `to` date must be later than the `from` date and within one year of the `from` date.",
            "in": "query",
            "name": "to",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DateYMD"
            }
          },
          {
            "description": "Specifies how data is grouped. By default, it returns the total consumption for the entire organization. If set to `workspace`, the data will be grouped by Workspace.",
            "in": "query",
            "name": "breakdown_type",
            "required": false,
            "schema": {
              "default": "organization",
              "enum": [
                "organization",
                "workspace"
              ],
              "type": "string"
            }
          },
          {
            "description": "A list of Workspace IDs to filter the results.",
            "in": "query",
            "name": "workspace_ids",
            "required": false,
            "schema": {
              "items": {
                "$ref": "#/components/schemas/UUID"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get_consumption_detail_200_response"
                }
              }
            },
            "description": "Return the detailed consumption.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "description": "Bad request",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            },
            "description": "Access unauthorized",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            },
            "description": "Access forbidden",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            },
            "description": "Too Many Requests, please try again later.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/retry-after"
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal Server Error",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          }
        },
        "summary": "Get detailed Consumption data",
        "tags": [
          "Consumption"
        ]
      }
    },
    "/consumptions/export": {
      "get": {
        "description": "Get a binary .csv file containing all the Consumption data of the underlying signatures",
        "operationId": "get-consumptions-export",
        "parameters": [
          {
            "description": "The \"from\" date must not be more than 1 year in the past",
            "in": "query",
            "name": "from",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DateYMD"
            }
          },
          {
            "description": "The \"to\" date must be more recent than the \"from\" date",
            "in": "query",
            "name": "to",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DateYMD"
            }
          },
          {
            "description": "The API authentication key to use to retrieve the data",
            "in": "query",
            "name": "authentication_key",
            "schema": {
              "$ref": "#/components/schemas/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Returns a .csv file containing the raw Consumption data.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "description": "Bad request",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            },
            "description": "Access unauthorized",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            },
            "description": "Access forbidden",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            },
            "description": "Resource not found",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            },
            "description": "Too Many Requests, please try again later.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/retry-after"
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal Server Error",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          }
        },
        "summary": "Export Consumption data",
        "tags": [
          "Consumption"
        ]
      }
    },
    "/contacts": {
      "get": {
        "description": "Returns the list of all the Contacts within your organization.",
        "operationId": "get-contacts",
        "parameters": [
          {
            "description": "After cursor (pagination)",
            "in": "query",
            "name": "after",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The limit of items count to retrieve.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get_contacts_200_response"
                }
              }
            },
            "description": "OK",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "description": "Bad request",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            },
            "description": "Access unauthorized",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            },
            "description": "Access forbidden",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            },
            "description": "Too Many Requests, please try again later.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/retry-after"
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal Server Error",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
                "$ref": "#/components/headers/rateLimit-limit-hour"
              },
              "X-RateLimit-Limit-Minute": {
                "$ref": "#/components/headers/rateLimit-limit-minute"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/rateLimit-remaining"
              },
              "X-RateLimit-Remaining-Hour": {
                "$ref": "#/components/headers/rateLimit-remaining-hour"
              },
              "X-RateLimit-Remaining-Minute": {
                "$ref": "#/components/headers/rateLimit-remaining-minute"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/rateLimit-reset"
              }
            }
          }
        },
        "summary": "List Contacts",
        "tags": [
          "Contact"
        ]
      },
      "post": {
        "description": "Creates a new Contact.",
        "operationId": "post-contact",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContact"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            },
            "description": "Created",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/rateLimit-limit"
              },
              "X-RateLimit-Limit-Hour": {
[...]
